h3 {
    font-size: 100pt;
  }
  p {
    font-size: 14px;
  }
  a {
    font-size: 1.9em;
  }
  span {
    font-size: 70%;
  }

  p {
    background: cadetblue url("cherries.png") no-repeat fixed center;
  }

    span{
        background: white;
        border: 2px solid red;
        border-radius: 10px;
}


    div{
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-left: 50px;
    }

    #box-1, #box-2, #box-3{
        height: 100px;
        width: 100px;
        color: white;
        background-color: red;
      }
      #box-1{
        margin: 20px;
      }
      #box-2{
        margin: 20px;
      }
      #box-3{
        margin: 20px;
      }
