<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Profile Page</title>
    <link rel="stylesheet" href="New_profile_page.css">
</head>
<body>
    <div id="container">
        <div id="nav">
            <ul>
                <li>Profile</li>
                <li>Home</li>
                <li>My Profile</li>
                <li>Find Connections</li>
            </ul>
            <ul>
                <li>
                    <button id="btn">Sign Out</button>
                </li>
            </ul>
        </div>
        <div>
        </div>
        <div id="lfcol">
            <div id="ltupper">
                <div class="banner">
                    upper banner
                </div>
                <div id="lfupperbox">
                    upperbox
                </div>
            </div>
            <div id="lflower">
                <div class="banner">
                    lower banner
                </div>
                <div id=lflowerbox>
                    lowerbox
                </div>
            </div>
        </div>
        <div id="rtcol"></div>
    </div>
</body>
</html>