*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.box{
    height: 100px;
    width: 400px;
    margin-left: 300px;
    margin-top: 100px;
    color: white;
    background-color: blue;
}

.description{
    background-color: white;
    color: crimson;
    height: 100px;
    margin-top: 80px;
}

.user{
    margin-left: 30px;
    position: relative;
    top: 60px;
}