*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    outline: 1px solid red;

}

/* navigation */
nav{
    background-color: #000000 ;
    color: white;
    justify-content: center;
}

#header{
    background-color: #000000 ;
    color: white;
    display: flex;
    list-style-type: none;
    padding: 25px;
    gap: 60px;
    align-items: center;
}

#bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22%;
}

button{
    background-color: #13a2b8 ;
    color: white;
    display: flex;
}

#profile{
    font-size:xx-large;
}




/* main */
.container{
    margin: 20px 10px;
    width: 60%;
    padding-left: 20%;
}


/*Left Column*/
    .main-1{
    display: flex;
    width: 80%;
    gap: 30px;
}

#banner-1{
    background-color: blue;
}

#upper-1{
    width: 100%;
}

#banner-3{
    background-color: #333333;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 20px;
    color: white;
}

#banner-2{
    background-color: #333333;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 20px;
    color: white;

}
.lower-1{
    border-style: solid;
    border-color: lightgray;
    width: 40%;
  
}

#boxlow-2{
    border-style: solid;
    border-color: lightgray;
    color: black;
    padding: 20px;
}

/* Right Column */
.main-2{
    display: flex;
    width: 100%;
    gap: 30px;
}


#upper-2{    
    width: 50%;
    margin-top: 30px;
    color: white;
}

#banner-4{
    background-color: #333333;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 20px;
    color: white;
}

.lower-2{
    width: 30%;
    border-style: solid;
    border-color: lightgray;
}

.description{
    color: black;
    padding-bottom: 30px;
    border-style: solid;
    border-color: lightgray;
    padding-left: 10px;
}

.description h3{
    padding-left: 20px;
}
p{
    font-size: xx-large;
    padding-top: 40px;
    padding-left: 20px;
}



h1{
    color: white;
}

.user{
    position: relative;
    top: 40px;
    left: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: lightgray;
}

.map{
    margin-top: 40px;
}

.info{
    margin-top: 30px;
    color: black;
    padding-left: 10px;
}

#ex{
    margin-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
}

#links{    
    display: flex;
    align-items: center;
    padding-left: 20px;
}


.bckgd-1{
    list-style-type: none;
    display: flex;
    padding-left: 20px;
    gap: 15px;
    margin-top: 10px;
    padding-bottom: 30px;
}

.bckgd-2{
    list-style-type: none;
    padding-left: 20px;
    gap: 15px;
    display: flex;
    margin-top: 10px;
    padding-bottom: 30px;
}

.bckgd-1 img{
    border-radius: 50%;
    display: flex;
}

.bckgd-2 img{
    border-radius: 50%;
    display: flex;
}

a{
    justify-content: start;
    padding-left: 20px;
}

#boxlow-2 h3{
    padding: 5px;
}

#year{
    color: grey
}

