*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}


body{
    background-color: pink;
    
}

nav{
background-color: #6f96e9;
display: flex;
padding: 10px;
justify-content: space-between;
}


#left-nav{
    display: flex;
    gap: 10px;
}

#right-nav{
    display: flex;
    gap: 10px;
}

#right-nav img{
    padding-right: 10px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #6f96e9;
}


#banner{
    padding: 10px;
    color: white
}


#banner h1{
    font-weight: bold;
}

#acct{
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    box-shadow: 2px 6px;
    border-radius: 10px;
}

h2{
    font-weight: bold;
    color: white
}

p{

}


#main{
    padding: 20px;
    display: flex;
    justify-content: center;
}


#main img{
width: 300px;
height: 300px;
}


footer{
    background-color: #fff46d;
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    align-items: left;

}

#left-footer{

}

#center-footer{
display: flex;
color: black;
}

#center-footer img{
    width: 40px;
    height: 40px;
}


#right-footer img{
    width: 100px;
    height: 100px;
}

