    /* CSS Reset */
    * {
        padding: 0;
        margin: 0;
        font-family: Roboto;

    }

    /* Utility Classes */
    /* generic classes that assign (usually) a single property */
    /* use many of these classes together to apply CSS */
    .flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .justify-around {
        justify-content: space-around;
    }

    .justify-between {
        justify-content: space-between;
    }

    .justify-evenly {
        justify-content: space-evenly;
    }

    .justify-center {
        justify-content: center;
    }

    .justify-start {
        justify-content: flex-start;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .items-center {
        align-items: center;
    }

    .items-start {
        align-items: flex-start;
    }

    .items-end {
        align-items: flex-end;
    }

    .gap-1 {
        gap: 10px;
    }

    .gap-2 {
        gap: 20px;
    }

    .gap-3 {
        gap: 30px;
    }

    .gap-4 {
        gap: 40px;
    }

    .gap-5 {
        gap: 50px;
    }

    .col-1 {
        flex: 1;
    }

    .col-2 {
        flex: 2;
    }

    .col-3 {
        flex: 3;
    }

    .col-4 {
        flex: 4;
    }

    .col-5 {
        flex: 5;
    }

    body {
        background-color: #dddddd;
    }



    nav {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        padding-top: 12px;
        padding-bottom: 12px;
        border: 3px solid black;
        padding-left: 12%;
        padding-right: 12%;
        align-items: center;
        gap: 25px;
    }

    nav p {
        font-size: smaller;
    }

    nav h2 {
        display: flex;
    }

    #banner {
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        border-bottom: 4px solid black;
    }

    #banner img {
        width: 20px;
        height: 20px;
        padding-top: 5px;
        align-items: center;
    }

    #left-banner {
        display: flex;
        gap: 35px;
        align-content: center;
        padding-left: 15%;
    }

    #left-banner h1 {
        align-items: center;
        border-bottom: 2px solid black;
        padding-left: 10px;
        padding-right: 10px;
    }

    #left-banner h5 {
        align-content: center;
    }

    #right-banner {
        display: flex;
        gap: 30px;
        align-content: center;
        padding-right: 15%;
    }

    main {
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        height: 420px;
        gap: 10px;
    }

 

    #stories {
        background-color: white;
        border-radius: 20px;
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 10px;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    #stories h3 {
        padding-bottom: 10px;
        border-bottom: 2px solid black;

    }

    #stories p {
        padding-top: 5px;
        padding-bottom: 12px;
        font-size: smaller;
    }


    #customize {
        background-color: white;
        border-radius: 20px;
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 10px;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    #customize p {
        font-size: smaller;
        padding-bottom: 10px;
        font-weight: bold;
    }


    #customize #sign-in {
        background-color: mediumblue;
        color: white;
        padding: 3px 12px;
        margin-right: 5px;

    }

    #customize #sign-up {
        color: black;
        padding: 3px 12px;
        box-shadow: 2px 4px;
        background-color: white;
    }

    #never-miss {
        background-color: white;
        border-radius: 20px;
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 10px;
        margin-top: 20px;
        padding-bottom: 20px;
    }


    #never-miss p {
        border-radius: 20px;
        width: 100%;
        font-weight: bold;
        padding-bottom: 10px;
    }

    #never-miss #subscribe {
        padding: 3px 45px;
        color: black;
        background-color: yellow;
        box-shadow: 2px 4px;
    }

    #right-main {
        background-color: white;
        margin-top: 20px;
        margin-left: 8%;
        border-radius: 20px;
        
    }

    #right-main h1 {
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 20px;
        color: red;
        text-align: center;

    }
    #right-main span {
        color: black;
    }

    #container {
        justify-content: space-between;
        text-align: center;
        border-radius: 20px;
        display: flex;

    }


    #box-1 {
        width: 100%;
        padding-top: 10px;
    }


    #box-1 .teammatch {
        padding: 5px;
        font-size: x-large;
        font-weight: bold;
        color: #009688;
    }

    #box-1 img {
        width: 120px;
    }

 

    #opponents{
        padding-bottom: 70px;
        font-size: x-large;
        font-weight: bold;
        padding-top: 30px;
    }


    #box-3 {
        padding-top: 10px;
        width: 100%;
        
        
    }

    #box-3 .teammatch {
        padding: 5px;
        font-size: x-large;
        font-weight: bold;
        color: red;
    }

    #box-3 img {
        width: 120px;
    }

    #pirates-score{
        font-size: 50px;
        font-weight: bold;
    }

    #ninja-score{
        font-size: 50px;
        font-weight: bold;
    }

    .note {
        padding-top: 5px;
        margin-left: 5%;
        border-top: 2px solid black;
        width: 90%;
    }

    .score{
        color: grey;
        font-size: x-small;
    }