*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

/* navigation */
nav{
    background-color: #000000 ;
    color: white;
    justify-content: center;
    display: flex;

}

#header{
    background-color: #000000 ;
    color: white;
    display: flex;
    list-style-type: none;
    justify-content:center;
    align-items: center;
    width: 100%;

}

#bar{
    display: flex;
    width: 80%;
    justify-content: center;
}

button{
    background-color: #13a2b8 ;
    color: white;
    display: flex;
    padding: 5px 13px;
    justify-content: left;
    align-items: center;
}

#profile{
    font-size:xx-large;
}

/* main */
#container{
    margin: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
}


/*Left Column*/
    #lfmain{

    padding: 20px;
}

#lfupperbanner{
    background-color: blue;
}

#lfupper{
 
}

#lflowerbanner{
    background-color: #333333;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 20px;
    color: white;
}

#lflower{
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: lightgray;

    margin-top: 30px;
}

.description{
    color: black;
    padding-bottom: 30px;
    border-style: solid;
    border-color: lightgray;
    padding-left: 10px;
}

.user{
    position: relative;
    top: 40px;
    left: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: lightgray;
}

#boxlow-2{
    color: black;
    padding: 20px;
}

#boxlow-2 h3{
    padding: 5px;
}

/* Right Column */
#rtmain{
 
    padding: 20px;
    margin-bottom: 10px;
}

#rtupperbanner{
    background-color: #333333;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 20px;
    color: white;
}

#rtupper{    
    width: 100%;
    color: white;
    border-style: solid;
    border-color: lightgray;
}

#rtlowerbanner{
    background-color: #333333;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 20px;
    color: white;
}

#rtlower{
    width: 100%;
    border-style: solid;
    border-color: lightgray;
    margin-top: 30px;
}

h3{
    padding-left: 20px;
}

p{
    font-size: xx-large;
    padding-top: 40px;
    padding-left: 20px;
}

h1{
    color: white;
}

.map{
    margin-top: 4px;
    padding-left: 10px;
}

.info{
    margin-top: 30px;
    color: black;
    padding-left: 10px;
}

#ex{
    margin-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
}

#links{    
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.bckgd-1{
    list-style-type: none;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    padding-bottom: 25px;
    color: black;
}

.bckgd-1 h3{
    padding-left: 5px;
    padding-right: 25px;
}

.bckgd-1 img{
    border-radius: 50%;
    display: flex;
    height: 35px;
    width: 35px;
}


.bckgd-2 h3{
    padding-left: 5px;
    padding-right: 25px;
}

.bckgd-2 img{
    border-radius: 50%;
    display: flex;
    height: 35px;
    width: 35px;
}

a{
    justify-content: start;
    padding-left: 20px;
}

#year{
    color: grey
}

.info{
    display: flex;
    gap: 12px;
}
#vm{
    display: flex;
    justify-content: start;
    border-top: solid;
    border-color: lightgray;
    padding-top:5px;
    padding-bottom: 5px;
}

#rtupperbanner span{
    border-radius: 50%;
    color: #333333;
    background-color: lightgray;
    padding-left: 15px;
    padding-right: 15px;
    display:flex;
    font-size: medium;
}

#rtlowerbanner span{
    border-radius: 50%;
    color: #333333;
    background-color: lightgray;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    font-size: small;
}

#rtlowerbanner h3{
    display: flex;
    gap: 10px;
    padding-left: 0px;
}

#rtupperbanner h3{
    display: flex;
    gap: 10px;
    padding-left: 0px;
}

.todd{
    display: flex;
    justify-content: space-between;
}

.phil{
    display: flex;
    justify-content: space-between;
}